<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:score="http://thymeleafexamples">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
</head>
<body>
    <div th:replace="~{fregaments/header :: header}"></div>
        <h3 th:text="${userModel.title}"></h3>
    <form action="/users" th:action="@{/users}" th:object="${userModel.user}" method="post">
        <input type="hidden" th:value="*{id}" name="id">
        name:<br>
        <input type="text" th:value="*{name}" name="name">
        <br>email:<br>
        <input type="text" th:value="*{email}" name="email">
        <br>
        <input type="submit" value="提交">
    </form>
    <div th:replace="~{fregaments/footer :: footer}"></div>
</body>
</html>